<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuvQyUeGBWl_9ir5tGKnlPHfJ-6H3-EPk</string>
	<key>GCM_SENDER_ID</key>
	<string>821638044587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.social</string>
	<key>PROJECT_ID</key>
	<string>social-networking-79402</string>
	<key>STORAGE_BUCKET</key>
	<string>social-networking-79402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821638044587:ios:aae5a03a7ef0d9f09f50ee</string>
</dict>
</plist>