<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYnjLi_co-5zEFG4Cwt0Nd4UpyefrojKc</string>
	<key>GCM_SENDER_ID</key>
	<string>291637604120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socials</string>
	<key>PROJECT_ID</key>
	<string>znet-6536d</string>
	<key>STORAGE_BUCKET</key>
	<string>znet-6536d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291637604120:ios:7c2baa767ecbd9e3ca786d</string>
</dict>
</plist>